<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="m2e.sourcelookup.MyMvnSourceContainerTypeDelegate"
            id="m2e.sourcelookup.MyMvnSourceContainerType"
            name="%MyMvnSourceContainerTypeDelegate.name">
      </sourceContainerType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.sourceContainerPresentations">
      <sourceContainerPresentation
            browserClass="m2e.sourcelookup.MyMvnSourceContainerBrowser"
            containerTypeID="m2e.sourcelookup.MyMvnSourceContainerType"
            icon="/icons/mvncontainer.gif"
            id="m2e.sourcelookup.MyMvnSourceContainerBrowser">
      </sourceContainerPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="m2e.sourcelookup.MyMvnSourceLocator"
            id="org.eclipse.m2e.launching.MavenSourceLocator"
            name="%MyMvnSourceLocator.name">
      </sourceLocator>
   </extension>
</plugin>
